.me-auto {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}
a {
  text-decoration: none;
}
a .navbar-nav {
  padding: 10px;
  color: black;
}
