body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1 {
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
}
p {
  text-align: center;
}
:root {
  --primary: #6eb943;
  --lightGreen: #059669;
  --lightOrange: #ffad45;
  --txtWhite: #ffffff;
  --BgColor: #fafafa;
  --CardColor: #ffffff;
  --black: black;
  --white: #fff;
  --txtBlack: #4a4a4a;
  --txtGrey: #b7b7b7;
  --iconGrey: #bdbdbd;
  --darkGrey: #6b7280;
  --lightGrey: #e6e4e4;
  --grey: grey;
  --lightGrey: #f2f2f2;
  --iconSize: 24;
  --bold: bold;
  --red: red;
}
